{
  "presets": ["@babel/preset-env", "@babel/preset-react", "@babel/preset-typescript"],
//  "plugins": [["module-resolver", { "root": ["./src"] }]]
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}
